/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: auto;
    margin: 0 auto;
}

header {
    background: lightblue;
    padding: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

a.logo {
    font-weight: bolder
}


h1 {
    margin-top: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

li a {
    padding: 1em;
}

