<!-- <form (submit)="loginUser($event)">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <input type="submit" value="Submit">
</form> -->

<h3>Log in to SnapDay!</h3>

<div>
    <form (submit)="loginUser($event)">
    <div class="form-group">
     <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <br>
    <div class="form-group">
     <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    <small id="passwordlHelp" class="form-text text-muted">Your password is safe with us.</small>
  </div>
  <button class="btn btn-primary" type="submit">Log me in!</button>